In [1]:
import pandas as pd
from tqdm import tqdm

# Crear vectores binarios de películas

En este notebook, vamos a convertir las características de las películas en vectores binarios de características. Estos vectores se utilizarán más adelante para calcular el **FCA**.

In [2]:
def to_string(value):
    return str(value)

In [3]:
# Cargamos las 
movies_DF = pd.read_csv('data/experiment_data/movies.csv')
movies_DF['title_year'] = movies_DF['title_year'].apply(lambda val: to_string(val))
movies_DF.head()

,id,director_name,duration,genres,movie_title,language,country,title_year,stars
0,594,William Cottrell,83,Animation|Family|Fantasy|Musical,Snow White and the Seven Dwarfs,English,USA,1937,Adriana Caselotti|Lucille La Verne|Lucille La ...
1,596,Norman Ferguson,88,Animation|Family|Fantasy|Musical,Pinocchio,English,USA,1940,Mel Blanc|Cliff Edwards|Cliff Edwards
2,599,Sam Peckinpah,144,Action|Adventure|Western,The Wild Bunch,English,USA,1969,William Holden|L.Q. Jones|L.Q. Jones
3,111,Martin Scorsese,110,Crime|Drama,Taxi Driver,English,USA,1976,Robert De Niro|Peter Boyle|Peter Boyle
4,260,George Lucas,125,Action|Adventure|Fantasy|Sci-Fi,Star Wars: Episode IV - A New Hope,English,USA,1977,Harrison Ford|Kenny Baker|Kenny Baker

In [4]:
def get_dummie(df, column, sep):
    new_df = df[column].str.get_dummies(sep=sep)
    result = pd.concat([df, new_df], axis=1)        
    #result.drop(columns=[column])
    return result

In [5]:
lista_columns = ['director_name', 'genres', 'stars', 'language', 'country', 'title_year']

for c in tqdm(range(len(lista_columns))):
    movies_DF = get_dummie(movies_DF, lista_columns[c], sep='|')

100%|██████████| 6/6 [00:00<00:00, 30.12it/s]

In [6]:
lista_columns_to_drop = ['director_name', 'genres', 'stars', 'language', 'country', 'title_year', 'movie_title', 'duration']
movies_DF.drop(columns=lista_columns_to_drop, axis=1, inplace=True)
movies_DF.head()

,id,Albert Hughes,Alex Proyas,Allison Anders,Amy Heckerling,Andrew Davis,Andrew Morahan,Ang Lee,Annabel Jankel,Atom Egoyan,...,1981,1982,1989,1990,1991,1992,1993,1994,1995,1996
0,594,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,596,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,599,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,111,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,260,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Guardamos los vectores en un nuevo CSV
movies_DF.to_csv('data/experiment_data/movies_binary.csv', index=False)

### Siguiente Notebook

Una vez que hemos obtenido los vectores binarios, tenemos que entrenar el algoritmo de factorización de matrices y calcular la matriz $Q$ de cada usuario. El siguiente notebook que hay que ejecutar es `calcular_matrices_q.ipynb`.