In [1]:
import pandas as pd
import numpy as np

In [2]:
all_ratings_df = pd.read_csv('data/experiment_data/result_all_values.csv')
all_ratings_df.head()

,userId,movieId,rating,predicted,rating_binary_k_1,rating_q_k_1,rating_binary_k_2,rating_q_k_2,rating_binary_k_3,rating_q_k_3,...,rating_binary_k_6,rating_q_k_6,rating_binary_k_7,rating_q_k_7,rating_binary_k_8,rating_q_k_8,rating_binary_k_9,rating_q_k_9,rating_binary_k_10,rating_q_k_10
0,1,223,3.0,4.042081,5.0,5.0,5.0,3.0,4.0,5.0,...,3.0,4.0,5.0,5.0,3.0,4.0,5.0,NaN,5.0,NaN
1,1,349,4.0,2.726556,5.0,5.0,5.0,3.0,3.0,5.0,...,4.0,4.0,4.0,5.0,5.0,5.0,3.0,NaN,5.0,NaN
2,1,527,5.0,2.743715,5.0,5.0,4.0,3.0,5.0,5.0,...,5.0,5.0,4.0,4.0,5.0,5.0,5.0,NaN,4.0,NaN
3,4,357,3.0,2.737091,5.0,3.0,3.0,2.0,3.0,3.0,...,2.0,NaN,5.0,NaN,3.0,NaN,1.0,NaN,4.0,NaN
4,5,110,4.0,3.492654,4.0,4.0,3.0,4.0,4.0,3.0,...,4.0,4.0,3.0,3.0,3.0,3.0,1.0,NaN,5.0,NaN

In [3]:
for k in range(1, 11):
    all_ratings_df['error_binary_k_{}'.format(k)] = all_ratings_df.apply(lambda row: row['rating_binary_k_{}'.format(k)] - row['predicted'], axis=1)
    
for k in range(1, 11):
    all_ratings_df['error_q_k_{}'.format(k)] = all_ratings_df.apply(lambda row: row['rating_q_k_{}'.format(k)] - row['predicted'], axis=1)

In [4]:
k_values = [1, 2, 3, 5, 10]

In [5]:
for k in range(1, 11):
    all_ratings_df.drop(columns='rating_binary_k_{}'.format(k), inplace=True)
    all_ratings_df.drop(columns='rating_q_k_{}'.format(k), inplace=True)

In [6]:
all_ratings_df.drop(columns=['predicted', 'userId', 'movieId'], inplace=True)
all_ratings_df.head()

,rating,error_binary_k_1,error_binary_k_2,error_binary_k_3,error_binary_k_4,error_binary_k_5,error_binary_k_6,error_binary_k_7,error_binary_k_8,error_binary_k_9,...,error_q_k_1,error_q_k_2,error_q_k_3,error_q_k_4,error_q_k_5,error_q_k_6,error_q_k_7,error_q_k_8,error_q_k_9,error_q_k_10
0,3.0,0.957919,0.957919,-0.042081,-0.042081,-0.042081,-1.042081,0.957919,-1.042081,0.957919,...,0.957919,-1.042081,0.957919,0.957919,0.957919,-0.042081,0.957919,-0.042081,NaN,NaN
1,4.0,2.273444,2.273444,0.273444,2.273444,2.273444,1.273444,1.273444,2.273444,0.273444,...,2.273444,0.273444,2.273444,2.273444,1.273444,1.273444,2.273444,2.273444,NaN,NaN
2,5.0,2.256285,1.256285,2.256285,2.256285,2.256285,2.256285,1.256285,2.256285,2.256285,...,2.256285,0.256285,2.256285,2.256285,1.256285,2.256285,1.256285,2.256285,NaN,NaN
3,3.0,2.262909,0.262909,0.262909,2.262909,2.262909,-0.737091,2.262909,0.262909,-1.737091,...,0.262909,-0.737091,0.262909,2.262909,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,0.507346,-0.492654,0.507346,1.507346,0.507346,0.507346,-0.492654,-0.492654,-2.492654,...,0.507346,0.507346,-0.492654,0.507346,0.507346,0.507346,-0.492654,-0.492654,NaN,NaN

In [7]:
def sum_err(values, k):
    limit = num_err(values, k)
    sum_values = values[:limit]
    
    total = 0.0
    for v in sum_values:
        total += abs(v)
        
    return total

In [8]:
def num_err(values, k):
    valid_values = np.sum(~np.isnan(values))
    limit = min(k, valid_values)
            
    return limit

In [9]:
for k in k_values:
    all_ratings_df['sum_err_bin_k_{}'.format(k)] = all_ratings_df.apply(lambda row: sum_err(row.values[1:11], k), axis=1)
    all_ratings_df['num_err_bin_k_{}'.format(k)] = all_ratings_df.apply(lambda row: num_err(row.values[1:11], k), axis=1)
    
for k in k_values:
    all_ratings_df['sum_err_q_k_{}'.format(k)] = all_ratings_df.apply(lambda row: sum_err(row.values[11:21], k), axis=1)
    all_ratings_df['num_err_q_k_{}'.format(k)] = all_ratings_df.apply(lambda row: num_err(row.values[11:21], k), axis=1)

In [10]:
for k in range(1, 11):
    all_ratings_df.drop(columns='error_binary_k_{}'.format(k), inplace=True)
    all_ratings_df.drop(columns='error_q_k_{}'.format(k), inplace=True)

In [11]:
sum_values = pd.DataFrame(all_ratings_df.groupby(by='rating').sum())
sum_values.reset_index(inplace=True)
sum_values

,rating,sum_err_bin_k_1,num_err_bin_k_1,sum_err_bin_k_2,num_err_bin_k_2,sum_err_bin_k_3,num_err_bin_k_3,sum_err_bin_k_5,num_err_bin_k_5,sum_err_bin_k_10,...,sum_err_q_k_1,num_err_q_k_1,sum_err_q_k_2,num_err_q_k_2,sum_err_q_k_3,num_err_q_k_3,sum_err_q_k_5,num_err_q_k_5,sum_err_q_k_10,num_err_q_k_10
0,0.5,6.407534,5,15.555808,10,21.407534,15,34.306407,25,55.560533,...,4.250599,5,9.602305,9,14.620372,12,21.622724,18,35.714688,28
1,1.0,45.736519,37,82.758313,74,121.340501,111,190.914715,183,350.707306,...,35.514011,37,69.765285,72,101.082139,106,164.329021,167,272.900767,296
2,1.5,5.306964,4,11.073093,8,17.091223,12,25.164316,20,45.671593,...,4.541191,4,8.307320,8,11.100512,12,14.531235,18,24.241147,28
3,2.0,86.231030,85,172.142393,170,266.574974,254,409.708609,415,793.153893,...,82.606604,85,175.121866,164,252.372484,238,393.858551,380,660.525374,675
4,2.5,36.660522,34,71.345001,68,104.649572,102,166.176242,168,319.703727,...,26.104659,32,59.642067,63,85.321195,94,139.962304,152,248.487945,267
5,3.0,291.507308,295,562.979193,590,834.396919,884,1346.491971,1454,2629.260443,...,266.937072,292,546.609868,574,800.398976,851,1285.750086,1378,2202.201218,2385
6,3.5,82.927271,95,160.427742,190,237.676384,283,394.657982,462,781.700983,...,83.713558,93,155.650116,180,226.618552,263,355.096286,415,604.428282,700
7,4.0,277.384283,304,573.056346,607,826.491744,905,1356.102729,1487,2614.503370,...,276.649044,296,536.914350,576,786.317379,839,1259.972225,1340,2107.063408,2246
8,4.5,70.646451,66,137.179774,131,202.253169,194,310.149423,314,533.141227,...,63.062129,63,112.275120,115,155.845151,162,228.912451,245,323.944484,354
9,5.0,228.402478,219,433.932792,435,651.807172,647,1058.856216,1054,1991.344298,...,223.437540,211,425.383810,408,596.885202,588,926.939520,916,1500.434637,1468

In [12]:
for k in k_values:
    sum_values['mae_binary_k_{}'.format(k)] = sum_values.apply(lambda row: row['sum_err_bin_k_{}'.format(k)] / row['num_err_bin_k_{}'.format(k)], axis=1)
    sum_values['mae_q_k_{}'.format(k)] = sum_values.apply(lambda row: row['sum_err_q_k_{}'.format(k)] / row['num_err_q_k_{}'.format(k)], axis=1)

In [13]:
for k in k_values:
    sum_values.drop(columns='sum_err_bin_k_{}'.format(k), inplace=True)
    sum_values.drop(columns='sum_err_q_k_{}'.format(k), inplace=True)

In [14]:
for k in k_values[1:]:
    sum_values.drop(columns='num_err_bin_k_{}'.format(k), inplace=True)
    sum_values.drop(columns='num_err_q_k_{}'.format(k), inplace=True)

In [15]:
sum_values.drop(columns='num_err_q_k_1', inplace=True)
sum_values.rename(columns={'num_err_bin_k_1': 'N'}, inplace=True)
sum_values

,rating,N,mae_binary_k_1,mae_q_k_1,mae_binary_k_2,mae_q_k_2,mae_binary_k_3,mae_q_k_3,mae_binary_k_5,mae_q_k_5,mae_binary_k_10,mae_q_k_10
0,0.5,5,1.281507,0.850120,1.555581,1.066923,1.427169,1.218364,1.372256,1.201262,1.292105,1.275525
1,1.0,37,1.236122,0.959838,1.118356,0.968962,1.093158,0.953605,1.043250,0.984006,0.993505,0.921962
2,1.5,4,1.326741,1.135298,1.384137,1.038415,1.424269,0.925043,1.258216,0.807291,1.141790,0.865755
3,2.0,85,1.014483,0.971842,1.012602,1.067816,1.049508,1.060389,0.987250,1.036470,0.998934,0.978556
4,2.5,34,1.078251,0.815771,1.049191,0.946699,1.025976,0.907672,0.989144,0.920805,0.977687,0.930666
5,3.0,295,0.988160,0.914168,0.954202,0.952282,0.943888,0.940539,0.926061,0.933055,0.928739,0.923355
6,3.5,95,0.872919,0.900146,0.844357,0.864723,0.839846,0.861667,0.854238,0.855654,0.872434,0.863469
7,4.0,304,0.912448,0.934625,0.944080,0.932143,0.913251,0.937208,0.911972,0.940278,0.910026,0.938140
8,4.5,66,1.070401,1.000986,1.047174,0.976305,1.042542,0.962007,0.987737,0.934337,0.936979,0.915097
9,5.0,219,1.042934,1.058946,0.997547,1.042607,1.007430,1.015111,1.004607,1.011943,0.997667,1.022094

In [16]:
for k in k_values:
    sum_values['improvement_k_{}'.format(k)] = sum_values.apply(lambda row: (row['mae_binary_k_{}'.format(k)] - row['mae_q_k_{}'.format(k)]) / row['mae_binary_k_{}'.format(k)] * 100, axis=1)

In [17]:
sum_values.to_csv('data/results/mejora_todos.csv', index=False)